@import './base.css';

html {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  font-weight: normal;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

a {
  position: relative;
  text-decoration: none;
  color: #fff;
}

@media (hover: hover) {
  a:hover {
    /*text-shadow: 2px 2px 3px #ffebbe;*/
  }
}
